*.bak
*.log
*.log.*
*.sve
*.swp

*.cdslck
*.log
cdsenv
cdsinfo.tag
cdsplotinit
data.dm
ihnl.key
si.env
spectre.out
.run.info
.cadence/

*.raw
*.history
*.out
*.tr*
*.ac*
*.noise*
*.dc*
*.tran*
*.measure*

constraint
sev/
adexl/
maestro/
